@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', cursive;
}

.display{
    max-width: 392px;
}

.display h1{
    display: block;
    color: purple;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.tovar{
    border: 1px solid purple;
    border-radius: 15px;
    margin: 10px; 
    max-width: 370px;
    padding: 30px;
    transition: 0.6s;
}

.tovar:hover{
    box-shadow: 0px 0px 10px 1px purple;
}

.tovar a{
    float: left;
    transform: translate(0px, -8px);
    text-decoration: none;
    color: purple;
}

.tovar p{
    float: right;
    transform: translate(0px, -8px);
    color: purple;
}

.back_button{
    color: purple;
    text-decoration: none;
    float: left;
    border: 1px solid purple;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    transform: translate(9px, 6px);
    transition: 0.6s;
    box-shadow: 0px 5px 0px purple;
    z-index: 10;
}


.back_button:hover{
    box-shadow: 0px 0px 0px purple;
    transform: translate(9px, 9px);
}




